/*TODO !---------STYLESHEET---------!*/

html {
    font-family: Arial, serif;
    height: auto;
    background: #17181E;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #17181E;
}

a {
    color : #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    /*line-height: 0.75;*/
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/*TODO !---------HEADER---------!*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;

    font-size: 1rem;
    line-height: 1;
    text-align: center;
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-bottom: rgba(23, 24, 30, 0.23) 2px solid;
}

header img {
    height: 30px;
    width: auto;
    margin: 0;
    padding: 0;
}

header p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/*TODO !---------NAVIGATION BAR---------!*/

#navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo-bar > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
    height: 60px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

nav > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 60px;
    padding: 0;
    margin: 0;
}

nav div:hover .submenu{
    display: flex;
    flex-direction: column;
}

nav > div > a {
    border-radius: 5px;
    padding: 10px;
    transition: border,background 0.25s ease-in 100ms;
    border: rgba(0, 0, 0, 0) 1px solid;
}

nav > div > a:hover {
    border: rgba(255, 255, 255, 0.23) 1px solid;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    margin-top: 208px;
    background: rgba(0, 0, 0, 0.5);
}

.submenu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5px;
    clear: both;
    width: auto;
}

.submenu > div:hover {
    background: rgba(0, 0, 0, 0.5);
}

/*TODO !---------BURGER MENU---------!*/

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height:4px;
    background-color: #fff;
    transition-duration: .25s;
    border-radius: 5px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: auto;
    margin: 62px 0;
    padding: 80px 0;
    list-style: none;
    background: rgba(23, 24, 30, 1);
    backdrop-filter: blur(25px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

/*TODO !---------MAIN---------!*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: #17181E;
    margin: 60px 0 0 0;
}

.item {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}

article, footer, section {
    padding: 3rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 2rem 0;
}

main > div:first-child {
    margin: 2rem 0 2rem 0;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    max-width: 1920px;
    padding: 1rem;
    background-color: #2c7da0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 100%;
    background: #ccdbfd;
    color: #012a4a;
}

.sub-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    background-color: #468faf;
}

/*TODO !---------ARTICLE 1---------!*/

.a1{justify-content: space-between;}

.ss-11 > section {
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
    text-align: left;
}

.ss-11 > section:nth-child(1) {
    align-items: flex-start;
    width: 40%;
}

.ss-11 > section:nth-child(2) {width: 30%;}

.ss-11 .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 15px 0 0 0;
    background-color: #FFFFFF;
    color: #232325;
    font-size: 1.1rem;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: rgba(156, 156, 156, 1);
    border-radius: 6px;
    transition: border-bottom-width,border-color,background-color,padding, 0.25s ease-in 100ms;
}

.ss-11 .button:hover {
    background-color: #232325;
    color: #232325;
    cursor: pointer;
    padding: 8.5px 0;
    margin: 15px 0 0 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #EEF07E;
    border-radius: 6px;
}

.ss-11 .button img {
    width: 25px;
    height: 25px;
    padding: 0 10px;
    filter: invert(0);
    rotate: 0;
    transition: rotate,filter,padding, 0.25s ease-in 100ms;
}

.ss-11 .button:hover img{
    rotate: -45deg;
    filter: invert(1);
    padding: 0 15px 0 10px;
}

.button span {
    padding: 0 15px;
    transition: padding, 0.25s ease-in 100ms;
}

.ss-11 .button:hover span{
    color: white;
    padding: 0 15px 0 20px;
}

.ss-12 > section:nth-child(1) {
    width: 100%;
    height: 100%;
    max-height: 300px;
    padding: 0;
    background-color: #232325;
    border-radius: 16px;
}

.ss-12 > section:nth-child(1) > img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-radius: 16px;
}

/*TODO !---------ARTICLE 2---------!*/

.a2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ss-21 {
    width: 50%;
    height: 100%;
    background: #1adc76;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ss-21 section {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 16px;
    background: #444648;
    color : #FFFFFF;
}

.ss-21 section span {
    background: #232325;
    border-radius: 50px;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
}

.ss-21 section img {
    width: 35px;
    height: 35px;
}

.ss-22 {
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #61a5c2;
    padding: 1rem;
}

.ss-22 > section:nth-child(1) {
    border-radius: 16px;
    background: #232325;
    width: 100%;
    height: 100%;


}

.ss-22 > section:nth-child(1) > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border-radius: 16px;
}

.top-section, .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-section {
    background-color: #89c2d9;
}

.bottom-section {
    background-color: #a9d6e5;
}

.ss-21 section, .ss-22 section {
    margin: 0;
}

.ss-21 section {
    height: 12rem;
    width: 100%;
    margin: 1rem;
    padding: 0;
}

.ss-22 section {
    height: 25rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ss-21 .top-section > section:nth-child(1) {
    margin: 1rem 0.5rem 0.5rem 1rem;
}
.ss-21  .top-section > section:nth-child(2) {
    margin: 1rem 1rem 0.5rem 0.5rem;
}
.ss-21  .bottom-section > section:nth-child(1) {
    margin: 0.5rem 0.5rem 1rem 1rem;
}
.ss-21 .bottom-section > section:nth-child(2) {
    margin: 0.5rem 1rem 1rem 0.5rem;
}

/*TODO !---------ARTICLE 3---------!*/

.a3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ss-31 {
    width: 100%;
    background: #1adc76;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ss-31 {
    width: 100%;
    background: #1adc76;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.top-section, .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-section {
    background-color: #89c2d9;
}

.bottom-section {
    background-color: #a9d6e5;
}

.ss-31 section {
    height: 15rem;
    margin: 1rem;
    padding: 0;
}

.top-section > section:nth-child(1) {
    margin: 1rem 0.5rem 0.5rem 1rem;
}
.top-section > section:nth-child(2) {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.top-section > section:nth-child(3) {
    margin: 1rem 1rem 0.5rem 0.5rem;
}
.bottom-section > section:nth-child(1) {
    margin: 0.5rem 0.5rem 1rem 1rem;
}
.bottom-section > section:nth-child(2) {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}
.bottom-section > section:nth-child(3) {
    margin: 0.5rem 1rem 1rem 0.5rem;
}

/*TODO !---------FOOTER---------!*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 65%;
    max-width: 1920px;
    padding: 1rem;
    background-color: #2c7da0;
}

footer > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: #61a5c2;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;

}

/*TODO !---------MEDIA QUERIES---------!*/

@media screen and (max-width: 575px) {
    main {
        flex-direction: column;
    }
    .sidebar-left {
        order: 2;
    }
}

@media screen and (min-width: 960px) {
    .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .navigation {
        display: none;
    }
    .logo-bar.media {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
    }
}

/* TODO !---------COMMENTED CODE---------!*/

